.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters button {
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    float: right;
    margin: 11px 30px;
}

.filters button:hover {
    opacity: .9;
}
/* location and amenities part of search bar */

.amenities {
    height: 100%;
    width: 25%;
    float: left;
}
.locations {
    height: 100%;
    width: 25%;
    float: left;
    border-right: 1px solid #DDDDDD;
}
h3 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
    margin-left: 30px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-left: 30px;
}

/* hover drop down menu for locations and amenities */

/* List (popover) content hidden by default */
.popover {
    display: none;
    position: relative;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    z-index: 1;

    list-style-type: none;
    margin: 15px auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.popover h2 {
    font-size: 16px;
    padding-top: 20px;
}

.amenities ul {
    list-style-type: none;
    padding: 30px;
}

ul {
    list-style-type: none;
    padding: 0 20px;
}
/* Show dropdown popover menu on hover */

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}